<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= student.fullName %>, <%= student.roomNo %></h1>
    <ul>
        <li><a href="/student/add-complaint/<%= sessionId %>">Add Complaint</a></li>
        <li><a href="/student/leave/<%= sessionId %>">Put Leave</a></li>
        <li><a href="/student/notice-board">Notice Board</a></li>
        <!-- <li><a href="/student/update-profile">Update Profile</a></li> -->
        <li><a href="/student/food-menu">Food Menu</a></li>
        <li><a href="/student/bills-fees">Bills/Fees</a></li>
        <!-- <li><a href="/student/logout">Logout</a></li> -->
        <li><a href="/student/logout/student.sessionID">Logout</a></li>
    </ul>
</body>
</html>
