h2 {
  color: #333;
  text-align: center;
}

.container {
  background-color: #f9f9f9;
}

.leave-form {
  width: 560px;
  margin: 130px 450px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(8, 7, 7, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 550px;
}

label {
  display: block;
  font-weight: bold;
}

select,
input[type="text"],
input[type="date"] {
  display: block;
  outline: none;
  border: none;
  height: 2em;
  font-size: 16px;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.lev-btn {
  background-color: transparent;
  width: 150px;
  border: 2px solid #2196F3;
  color: #2196F3;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 10px;
}

.lev-btn:hover {
  background-color: #2196F3;
  color: #fff;
}