input[type="text1"],
input[type="email1"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
}

.add-stu-btn {
  background-color: transparent;
  width: 150px;
  border: 2px solid #2196F3;
  color: #2196F3;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
}

.add-stu-btn:hover {
  background-color: #2196F3;
  color: #fff;
}

.add-form{
  background-color: white;
  width: 1250px;
  margin-left: 60px;
  margin-bottom: 10px;
}