body {
  align-items: center;
  background-size:cover;
}

.welcome-page {
  text-align: center;
  padding: 20px;
  margin-top: 220px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content {
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.5;
}

.button-container {
  margin-top: 20px;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #2196F3;
  color: #2196F3;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
}

.transparent-button:hover {
  background-color: #2196F3;
  color: #fff;
}

.transparent-button:focus {
  box-shadow: 0 0 0 2px #2196F3;
}

.footer {
  font-size: 14px;
  color: black;
}